
body {
    background-color: black;
}

.main {
    height: 70vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
 
    padding: 20px; 
    position: relative;
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fa7be975-efc3-48c6-8188-f07fdd1aa476/web/IN-en-20250428-TRIFECTA-perspective_e045264e-b4d4-4a6f-b2cc-f95e3344a332_large.jpg");
   
}

.main .box {
    /* opacity: 0.44; */
    background-color: rgba(0, 0, 0, 0.44);
    height: 70vh;
    width: 100%;
    position: absolute;
}
nav {
    background-color: rgba(0, 0, 0, 0.44);
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    
}

nav img {
    /* color: red; */
    position: relative;
    z-index: 10;
    width: 114px;
}

nav button {
    position: relative;
    z-index: 10;
}

.box2 {
    padding: 0 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 62px);
    color: white;
    position: relative;
    /* font-size: x-large; */
    gap: 30px;
}

.box2> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.box2> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.box2> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.sep {
    height: 7px;
    background-color: rgb(63, 60, 60);

}

.btn {
    color: white;
    padding: 7px 8px;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.1);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid white;
}

.red {
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.red-sm {
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}

.main input {
    padding: 0.25rem 1rem;
    font-weight: bold;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 7px;

}



.main input {
    padding: 4px 101px 8px 14px;
    font-weight: 900;
    background-color: 1px solid rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(236, 231, 231, 0.5);
}

.faq {

    /* color: rgb(246, 245, 245); */
    color: white;
    z-index: 11;
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;



}

.faq h2 {
    text-align: center;
    font-size: 42px;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: grey;
    padding: 34px;
    max-width: 60vw;
    justify-content: space-between;
    margin: 34px auto;
    cursor: pointer;


}

.faqbox:hover {
    background-color: rgb(59, 57, 57);
}

.footer {
    /* background-color: black;
    color: rgb(235, 233, 233);
    max-width: 60vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.a {
    display: flex;
    flex-direction: column;
}

footer span {
    max-width: 60vw;
    margin: auto;
    color: white;
}

footer {
    max-width: 60vw;
    margin: auto;
}



@media (max-width: 768px) {

    nav {
        max-width: 90vw;
    }

    nav img {
        width: 90px;
    }

    .btn {
        padding: 5px 10px;
        font-size: 14px;
    }

    .box2 > :nth-child(1) {
        font-size: 28px;
        line-height: 32px;
    }

    .box2 > :nth-child(2) {
        font-size: 18px;
    }

    .box2 > :nth-child(3) {
        font-size: 16px;
    }

    .box3 {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 100%;
        align-items: center;
    }

    .main input {
        width: 90%;
        padding: 12px;
        font-size: 16px;
    }

    .red-sm {
        width: 60%;
        padding: 12px;
        font-size: 18px;
    }

    .faqbox {
        max-width: 90vw;
        padding: 20px;
        font-size: 18px;
    }

    .faq h2 {
        font-size: 28px;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    footer {
        max-width: 90vw;
        text-align: left;
    }

} 

